<div>
    <h2>Angular Email Form</h2>
    <div>
        <div>
        <form [formGroup]="FormData" (ngSubmit)="onSubmit(FormData.value)">
            <div>
                <label for="EmailAddress">Email</label>
                <input type="email" name="EmailAddress" placeholder="Enter email" formControlName="Email">
            </div>
            <div>
                <label for="body">Body</label>
                <textarea formControlName="Body" name="Body">
                </textarea>
            </div>
            <button type="submit" [disabled]="!FormData.valid">Submit</button>
        </form>
        </div>
    </div>
</div>
