<div class="main-content">
    <div class="container-fluid">
      <div class="card">
        <div class="card-title">
          <h4>
            *Login title goes here*
          </h4>
        </div>
        <div class="card-body">
          <mat-form-field class="login-input-box" appearance="outline">
            <mat-label class="mat-label">
              SHSU Email
            </mat-label>
            <input matInput placeholder="example@shsu.edu" name="username"
            [(ngModel)] ="username">
          </mat-form-field>
          <mat-form-field class="login-input-box" appearance="outline">
            <mat-label class="mat-label">
              Password
            </mat-label>
            <input matInput placeholder="Enter your password" value="" name="password" 
            type="password" [(ngModel)]= "password">
          </mat-form-field>
          <div>
            <button class="login-button" mat-raised-button (click)="submit()">
              Login
            </button>
          </div>
        </div>
          <span *ngIf="valid_login"> 
            <!--this is for future rerouting upon valid login-->
            <button mat-button color="accent">
              Login success !!
            </button>
          </span>
      </div>
    </div>
  </div>
  