
*{
    font-family: Calibri;
}

.mat-label{
    color:#707070;
}

.login-form{
    max-width: 500px;
}

.login-input-box{
    color:#707070;
}

.login-button{
    color: #FFFFFF;
    background-color: #F56423;
    width: 35%;
}

.reset-link{
    color: Blue;
    width: 50%;
}

.card{
    max-width: 700px;
    margin: auto;
    width: 50%;
    padding: 10px;

}

.title-card{
    background-color: #F56423;
    padding: 5px;
}

.card-title{
    text-align: center;
    font-weight: bold;
    color:white;
}

.card-body {
    margin: auto;
    width: 50%;
    padding: 10px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1rem; 
}

.center{
    margin: auto;
    width: 50%;
}