
.mat-label{
    color:#707070;
}

.login-form{
    align-content: center;
}

.login-input-box{
    color:#F56423;
}

.login-button{
    color: #FFFFFF;
    background-color: #F56423;
}

.card-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 1.25rem; 
}