
<div class="main-content">
    <div class="container-fluid">
        <div style="text-align:center;">
            <div class="dialog-body" >
                <h5>We'll email you a password reset link</h5>
                <mat-form-field class="login-input-box" appearance="outline">
                    <mat-label class="mat-label">
                      SHSU Email
                    </mat-label>
                    <input matInput placeholder="example@shsu.edu" name="username"
                    type="email" [(ngModel)] ="username">
                </mat-form-field>
                <div style="justify-content: space-evenly;">
                    <button mat-raised-button class="cancel-button" (click)="onNoClick()">
                        Cancel
                    </button>
                    <button mat-raised-button class="send-button">
                        Send
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
