
*{
    font-family: Calibri;
}

.dialog-body{
    width:100%;
}

.login-input-box{
    color:#707070;
}

.mat-label{
    color:#707070;
}

.send-button{
    background-color:#F56423;
    color:white;
    margin-left: 10%;
    width: 30%;
}

.cancel-button{
    background-color: #707070;
    color:white;
    margin-right: 10%;
    width: 30%;
}